{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": "off"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ]
}
